node_modules
.pnpm-store
.next
out
dist
coverage
.turbo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example


*.log
SrcGame

apps/web/prisma/dev.db
packages/contracts/cache
packages/contracts/artifacts
packages/contracts/typechain-types
.env.example
